.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 50vh;
    margin: 0 auto;

}

.search-bar-container h1 {
    font-size: 15px;
}

.search-input-wrapper {
    position: relative;
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 2px solid green;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}